{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-24">{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
{{ if .IsHome }}
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<!-- Articles -->
<h2>Recent Articles:</h2>

{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}
<section class="articles__block list first-of-type:mt-0 last-of-type:mb-0">
  <h2>
    {{ if gt (len .Title) 70 }}
    <a href="{{ .RelPermalink }}">{{ slicestr .Title 0 70 | markdownify }}...</a>
    {{ else }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </h2>
  <time>{{ .Date | time.Format ":date_medium" }}</time>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}

{{ end }}
