{{ define "main" }}
<section class="intro">
  <div class="intro__img">
    <img src="{{ `Next4.jpg` | absURL }}" alt="Speaking at Google Next" class="img-home" />
  </div>
  {{ if site.Params.name }}
  <h1 class="mt-1.5 mb-3 text-3xl font-bold">{{ site.Params.name }}</h1>
  {{ end }}
  <div>{{ site.Params.bio | default (print "Personal blog by " site.Params.name) }}</div>
</section>

<h2>Recent Articles:</h2>

{{ range first 6 (where .Site.RegularPages "Type" "posts") }}
<section class="articles__block list">
  <h2>
    {{ if gt (len .Title) 70 }}
    <a href="{{ .RelPermalink }}">{{ slicestr .Title 0 70 | markdownify }}...</a>
    {{ else }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </h2>
  <time>{{ .Date | time.Format ":date_medium" }}</time>
</section>
{{ end }}

<section class="articles__block">
  <a href="/posts/" class="link__block hover:bg-black/[2%]" title="all articles">
    <span>All Articles</span>
    <span class="ml-1.5">→</span>
  </a>
</section>
{{ end }}